%p{:class=>"welcome"}= "Welcome, #{@user.name}!"

%h2 Blamed By Others
- if @blames_from_others
  %ul{:id=>"blames_from_others"}
  - @blames_from_others.each do |blame|
    %li
      %ul
        %li
          %strong From: 
          = "<a href=\"/user/#{blame.user.name}\">#{blame.user.name}</a>"
        %li
          %strong Reason: 
          - unless blame.reason.empty?
            = blame.reason
          - else
            %em none given
